.sidebar{
    background-color: #9e8a78;
    height: 100vh;
    padding-top: 5%;
    color:#fff;
    text-align: center;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 16px;
    
}
.col-md-4.sidebar-bg {
    background: #9e8a78;
}
.sidebar-menu{
    list-style-type: none;
    margin-top: 10%;
    padding:5%;
}
.sidebar-menu li {
    margin-top: 4%;
    padding: 10px 5px;
}
.sidebar-menu li:hover{
    background-color: #291a0c;
    cursor: pointer;
}