.service_box {
    background-color: #fff !important;
    padding: 40px 30px !important;
    text-align: center !important;
    cursor: pointer !important;
    -webkit-box-shadow: 0 50px 100px 0 rgb(64 1 4 / 10%), 0 -6px 0 0 rgb(248 99 107 / 0%);
    box-shadow: 0 50px 100px 0 rgb(64 1 4 / 10%), 0 -6px 0 0 rgb(248 99 107 / 0%) !important;
    text-decoration: none !important;
    color:#000 !important;
    transition: all .5s ease;

}
.img-box img{
    width:100px;
    height: 100px;
}
.service_box:hover{
    transform: translateY(-50px);
}